# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Environment variables
.env
.env.local

# Lambda deployment package
lambda_function.zip
lambda_layer.zip
layer/
lambda_content_function.zip
lambda_content_layer.zip
layer_content/
lambda_dispatcher_function.zip
lambda_batch_processor_function.zip
lambda_batch_processor_layer.zip
layer_batch_processor/
lambda_chart_generator_function.zip
lambda_chart_generator_layer.zip
layer_chart_generator/
lambda_numpy_layer.zip
layer_numpy/
lambda_matplotlib_layer.zip
layer_matplotlib/
lambda_static_website_function.zip
lambda_aggregate_stats_function.zip
lambda_aggregate_stats_layer.zip
layer_aggregate_stats/
lambda_fetch_market_data_function.zip
lambda_fetch_market_data_layer.zip
layer_fetch_market_data/
lambda_batch_analyzer_function.zip
lambda_batch_analyzer_layer.zip
layer_batch_analyzer/
lambda_check_trading_signals_function.zip
lambda_check_signals_layer.zip
layer_check_signals/
lambda_notify_discord_function.zip
lambda/**/*.ttf

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Other
.DS_Store
